body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flight-info-container {
  display: flex;
  justify-content: space-around;
}

.seat-chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
}

.row-container {
  display: flex;
  column-gap: 10px;
  width: 100%;
  justify-content: center;
}

.row-container button {
  width: 7%
}

.flight-page-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-around;
}

.selected-seat-container {
  display: flex;
  justify-content: center;
}

.available-seat {
 background-color: rgb(89, 188, 89);
}

.unavailable-seat {
  background-color: rgb(197, 113, 113);
  
}

.available-seat, .unavailable-seat, .active-button {
  border-radius: 10px;
  border: 1px;
}

.active-button {
  background-color: rgb(96, 96, 149);
}