body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flight-info-container {
  display: flex;
  justify-content: space-around;
}

.seat-chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1px;
}

.row-container {
  display: flex;
  column-gap: 10px;
  width: 100%;
  justify-content: center;
}

.row-container button {
  width: 5%
}

.flight-page-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-around;
}